.surprice {
	margin: 0 auto;
	width:100%;
}
.prize-level {
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
}
.btn-level {
	width:20%;
}

.prize-go {
	width: 100%;
	margin: 0 auto;
  margin-top: 20px;
}
.prize-left {
	width: 50%;
	height: 300px;
	float: left;
}
.prize-con {
	width: 10%;
	float: left;
}

.prize-person {
  border: 1px solid #CCC;
  float: right;
  width: 70%;
  height: 80%;
  margin-right: 50px;
  background-image: url(test.jpg);
}
.prize-btn{
	margin-top: 10px;
}

.prize-right {
	width: 48%;
	float: right;
	height: 300px;
	margin-left: 2%;
}

.image {
	width: 100%;
	margin: 0 auto;
	overflow-y: auto;
}
.user-image {
	width:12.5%;
	height:100px;
	margin-top:25px;
	float:left;
}



